.odd {

    background-color: lightpink;
    font-family: "Verdana", "DejaVu Sans", "sans-serif";
}

#blue-font {

    font-size: 36px;
    color: blue;
}

.big-font {

    font-size: 24px;
}

#green-background {
    font-weight: bold;
    background-color: green;
}
