/* Add CSS Styling */
.black {

    background-color: #000;
    color: #fff;
}

.yellow {

    background-color: yellow;
}

.myButton {

    font-size: 28px;
    font-family: 'Helvetica','Times New Roman', 'sans-serif';
}